@import "tailwindcss";

@theme inline {
  /* Colors */
  --color-background: #121212;
  --color-foreground: #ffffff;
  --color-foreground-muted: #b9b9b9;
  --color-primary: #f34e7a;
  --color-secondary: #2e94c3;
  --color-border: #272727;
  --color-input: #161616;
  --color-placeholder: #616161;

  /* Border Radius */
  --radius-md: 6px;
  --radius-lg: 8px;

  /* Fonts */
  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
