@import "tailwindcss";
@import "tw-animate-css";


@theme inline {
  /* Colors */
  --color-background: #121212;
  --color-background-muted: #1e1e1e;
  --color-foreground: #ffffff;
  --color-foreground-muted: #b9b9b9;

  --color-primary: #f34e7a;
  --color-secondary: #2e94c3;
  --color-tertiary: #f6d3cb;

  --color-border: #272727;
  --color-input: #161616;
  --color-placeholder: #616161;
  --color-card: #1a1a1a;
  --color-elevated: #202020;
  --color-ring: #383838;

  --color-success: #45aa60;
  --color-danger: #e03a3a;
  --color-warning: #e0ac3a;
  --color-info: #3c76c2;

  /* Border Radius */
  --radius-md: 6px;
  --radius-lg: 8px;

  /* Fonts */
  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

@utility scrollbar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
